<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>TP01</title>
</head>
<body>
	<h1>EJERCICIO 03</h1>
	<h2>¿El numero ingresado es par?<span th:text="${resultado1}"></span></h2>
	<h2>¿El numero ingresado es par?<span th:text="${resultado2}"></span></h2>
	<h2>¿El numero ingresado es par?<span th:text="${resultado3}"></span></h2>
	<h2>¿El numero ingresado es par?<span th:text="${resultado4}"></span></h2>
	<h2>¿El numero ingresado es par?<span th:text="${resultado5}"></span></h2>
	<a href="menu">Volver al Menu</a>
</body>
</html>