<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Trabajo Practico 01 - Maraz Agustina</title>
</head>
<body>

	<h1>MENU</h1>
	<ul>
		<li><a href="ejercicio01?n1=4">Determinar el factorial de un numero</a></li>
		<li><a href="ejercicio02?n1=2024">Determinar si un anio es bisiesto o no</a></li>
		<li><a href="/ejercicio03?n1=5">Determinar si 5 numeros son pares o no</a>
		<li><a href="ejercicio04?n1=50">Determinar si un numero corresponde a un mes</a></li>
		<li><a href="ejercicio05?n1=7">¿A qué mes corresponde el numero ingresado?</a></li>
	</ul>

</body>
</html>