<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Trabajo Practico 01 - Maraz Agustina</title>
</head>
<body>

	<h1>MENU</h1>
	<ol>
		<li><a href="ejercicio01?n1=4">Determinar el factorial de un numero</a></li>
		<li><a href="ejercicio02?n1=2024">Determinar si un anio es bisiesto o no</a></li>
		<li><a href="/ejercicio03?n1=8">Determinar si un numero es par o no</a>
		<li><a href="ejercicio04?n1=50">Determinar si un numero corresponde a un mes</a></li>
		<li><a href="ejercicio05?n1=7">¿A qué mes corresponde el numero ingresado?</a></li>
		<li><a href="ejercicio06?n1=-5">Estado de un alumno segun una nota ingresada</a></li>
		<li><a href="ejercicio08?n1=6">Secuencia numerica</a></li>
		<li><a href="ejercicio09">Mostrar los numeros entre 320 al 160, contando de 20 en 20 hacia atras (FOR)</a></li>
		<li><a href="ejercicio10">Mostrar los numeros entre 320 al 160, contando de 20 en 20 hacia atras (WHILE)</a></li>
		<li><a href="ejercicio11">Mostrar los numeros entre 320 al 160, contando de 20 en 20 hacia atras (DO-WHILE)</a></li>
		<li><a href="ejercicio12?n1=10">Realizar calculo del tiempo que tarda en caer un objeto desde una altura dada</a></li>
	</ol>

</body>
</html>